<div class="mainContainer">

    <div class="header">
      <div class="icon">
        <ion-icon name="arrow-back-outline" style="font-size: 25px;"></ion-icon>
        <span> Job Details</span>
      </div>

      <div class="notification">
        <div class="wallet">
          <ion-icon name="wallet-outline" style="padding-top: 2px;"></ion-icon>&nbsp;
          <span>₹1,560</span>
        </div>
        <span id="notify"><img src="assets/images/notification.png" alt=""></span>
      </div>
    </div>

    <div class="current">
      <div>
        <h6>15 March, 2022</h6>
      </div>
      <div>
        <h6>Booking ID - #JC4520</h6>
      </div>
    </div>

    <div class="user">
      <ion-card-subtitle style="display: flex; justify-content: space-between;">
        <h6>Job Details</h6>
        <div class="status">
          <h6 class="notStarted">Not Started </h6> 
          <ion-icon name="call"></ion-icon>
        </div>
      </ion-card-subtitle>
      <div class="details">
        <div class="row-1">
          <span class="head">Manish Patel</span>
          <span class="head">Job Duration</span>
        </div>
        <div class="row-2">
          <span class="body"><ion-icon name="call-outline"></ion-icon>989532456</span>
          <span class="body"><ion-icon name="time-outline"></ion-icon>2 hr 20 min</span>
        </div>
        <div class="row-3">
          <span class="head">Service Time</span>
          <span class="head">Distance</span>
        </div>
        <div class="row-4">
          <span class="body"><ion-icon name="time-outline"></ion-icon>3:00PM</span>
          <span class="body"><ion-icon name="location-outline"></ion-icon>1.2km</span>
        </div>
      </div>

      <div class="installation">
        <div style="display: flex;">
          <img src="assets/images/ac.png" style="height: 50px;">
          <div class="bio">
            <h2>AC Installation</h2>
            <h6>1 Ton -1.5 Ton x2 - 2 hr 20 min</h6>
          </div>
        </div>
        <div class="amount">
          ₹1500
        </div>
      </div>

      <div class="total">
        <span>Total</span>
        <span>₹1500</span>
      </div>
    </div>

    <div style="padding: 0px 10px;  border: 1px solid rgba(233, 233, 233, 1); background-color: #fff;">
      <ion-card-subtitle><h6 style="color: #000;">Job Location</h6></ion-card-subtitle>
      <ion-card-subtitle>
        <div class="fullDetails">
          <span><ion-icon name="location-outline"></ion-icon>Virat Nagar, Ahmedabad, 460001</span>
          <span style="text-align: center; color: #000; margin-top: -20px;">
            <ion-icon name="map"></ion-icon>
            <br>
            <nav style="cursor: pointer; text-decoration: underline;">See on map</nav>
          </span>
        </div>
        <div class="map">
          <img src="assets/images/map.png" alt="">
        </div>
      </ion-card-subtitle>
    </div>

    <div class="swipe">
      Take Selfie
    </div>
</div>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="footer">
        <ion-icon name="home-outline"></ion-icon>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-icon name="time-outline"></ion-icon>
        <ion-icon name="wallet-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>