<div class="mainContainer">
  <div class="header">
    <div class="icon">
      <ion-icon name="arrow-back-outline" style="font-size: 25px;"></ion-icon>
    </div>

    <div class="notification">
      <div class="wallet">
        <ion-icon name="wallet-outline" style="padding-top: 2px;"></ion-icon>&nbsp;
        <span>₹1,560</span>
      </div>
      <span id="notify"><img src="assets/images/notification.png" alt=""></span>
    </div>
  </div>

  <div class="receipt">
    <span><ion-icon name="document-outline"></ion-icon></span> &nbsp;
    <span>Customer has accepted the job completed confirmation.</span>
  </div>

  <div class="user">
    <h6 class="head">Manish Patel</h6>
    <p class="body">Lotus boulevard sector 100, Noida Uttar Pradesh 201303, India</p>
    <div class="amount head">
      <span>Amount to be Collected</span>
      <span>Rs.1502</span>
    </div>
  </div>

  <div class="user">
    <h6>Job Summary</h6>
    <div class="installation">
      <div style="display: flex;">
        <img src="assets/images/ac.png" style="height: 50px;">
        <div class="bio">
          <h2>AC Installation</h2>
          <h6 style="color: #6F767E;">1 Ton -1.5 Ton x2 - 2 hr 20 min</h6>
        </div>
      </div>
      <div class="amount">
        ₹1500
      </div>
    </div>
  </div>

  <ion-card style="border-radius: 10px; margin: 10px 20px;">
    <ion-grid>
      <ion-row>
        <ion-col>Total Duration</ion-col>
        <ion-col style="text-align: end;">2 Hours 30 Minutes</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Total (MRP)</ion-col>
        <ion-col style="text-align: end;">₹3150</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Discount</ion-col>
        <ion-col style="text-align: end;">-₹550</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Discounted Price</ion-col>
        <ion-col style="text-align: end;">₹2600</ion-col>
      </ion-row>
      <ion-row style="border-top: 1px dashed #D7D7D7;;">
        <ion-col style="font-weight: bold; font-size: 16px;">Total</ion-col>
        <ion-col style="text-align: end; font-weight: bold; font-size: 16px;">₹4501</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div style="text-align: center;">
    <img src="assets/images/end.png" style="margin-left: 8px;">
  </div>
</div>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="footer">
        <ion-icon name="home-outline" routerlink="/home"></ion-icon>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-icon name="time-outline"></ion-icon>
        <ion-icon name="wallet-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>