* {
  padding-top: 3px;
  font-family: Lato;
  cursor: pointer;
}
ion-button {
  margin-top: 570px;
  width: 80%;
  height: 48px;

  margin-left: 36px;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.main {
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: scroll;
}
.toolbar {
  --background: #fff;
  box-shadow: none;
  margin-top: -8px;
}
.notification {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 8px;
  right: 16px;
  margin-top: 5px;
}
.wallet {
  display: flex;
  border: 1px solid rgb(215, 215, 215);
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 150px;
  width: 82px;
  height: 30px;
  flex-shrink: 0;
}

#notify {
  margin-left: 10px;
  margin-top: -4px;
  margin-right: 8px;
}
.back-icon {
  width: 37px;
  height: 24px;
  flex-shrink: 0;
  color: #181f29;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.Edit-pan {
  color: var(--primary, #181f29);
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: #f8e4ff;
  margin-top: 25px;
  margin-left: 20px;
}

b {
  width: 100%;
  margin-top: -40px;
  color: #181f29;

  font-size: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  user-select: none;
}

.rounded-rectangle {
  width: 250px;
  height: 75px;
  border-radius: 8px;
}
