<div class="main">
  <section class="header">
    <img src="assets/images/logo.png" alt="">
    <p>Jaipur Service Company</p>
  </section>

  <section class="body">
    <img src="assets/images/login.png" alt="">
  </section>

  <section class="login">
    <h3>Welcome Back</h3>
    <h6>Please fill the details for further process</h6>
    <div class="image">
      <ion-icon name="call"></ion-icon>
      <input type="" placeholder="Mobile Number" required maxlength="10">
    </div>
    <ion-button class="signup" color="dark" (click)="login()">Login/SignUp</ion-button>
  </section>

</div>
<footer>
  <img src="assets/images/footer-1.png" style="height: 100px;">
  <img src="assets/images/footer-2.png" style="height: 80px; margin-top:auto">
</footer>