* {
  font-family: "Lato";
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mainContainer {
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: scroll;

  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    .icon {
      display: flex;

      span {
        margin-top: 5px;
        margin-left: 4px;
      }
    }

    .notification {
      display: flex;

      .wallet {
        display: flex;
        border: 1px solid rgb(215, 215, 215);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }

      #notify {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .current {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 5px;
    height: 50px;

    div {
      margin: 0;
    }

    h6 {
      margin-top: 5px;
    }
  }

  .notStarted {
    font-size: 10px;
    margin-top: 14px;
    border: 1px solid lightgray;
    border-radius: 7px;
    background-color: #ecf8f1;
    display: inline-flex;
    height: 21px;
    padding: 0px 8px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    width: 78px;
    margin-left: 20px;
  }

  .details {
    .row-1,
    .row-2,
    .row-3,
    .row-4,
    .row-5,
    .row-6,
    .row-7,
    .row-8,
    .row-9,
    .row-10,
    .row-11,
    .row-12 {
      display: flex;
      justify-content: space-between;

      .head {
        color: #000;
        font-size: 14px;
        font-weight: 500;
      }

      .body {
        color: rgba(0, 0, 0, 0.55);
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
    }

    .row-1 {
      margin-bottom: 2px;
    }
    .row-2 {
      margin-bottom: 25px;
    }

    .row-3 {
      margin-top: 10px;
      margin-bottom: 2px;
    }
    .row-4 {
      margin-bottom: 25px;
    }
    .row-5 {
      margin-top: 10px;
      margin-bottom: 2px;
    }
    .row-6 {
      margin-top: 10px;
    }

    .row-7 {
      margin-top: 20px;
      margin-bottom: 2px;
    }
    .row-9 {
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 12px;
    }
    .row-10 {
      font-size: 14px;
    }
    .row-11 {
      margin-top: 10px;
      margin-bottom: 2px;
    }
    .row-12 {
      font-size: small;
      padding-bottom: 60px;
    }

    h2 {
      text-align: end;
      margin-top: 10px;
      color: black;
      margin-bottom: 10px;
    }
    .fee {
      color: #000;
      font-size: 14px;
    }
    .others {
      color: var(--neutral-04, #6f767e);
    }
  }

  .installation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;

    .bio {
      margin-left: 5px;

      h2 {
        font-size: 16px;
        display: inline-flex;
      }

      h6 {
        margin: 0;
        font-size: 12px;
      }
    }

    .amount {
      color: green;
      font-size: 18px;
      padding-top: 15px;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px dashed #d7d7d7;
    color: #000;
  }

  .fullDetails {
    display: flex;
    justify-content: space-between;
  }

  .map {
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
  }

  .swipe {
    margin: 0px 10px;
    cursor: pointer;
    text-align: center;
  }

  .user {
    margin-top: 5px;
    padding: 0px 10px;
    border: 1px solid rgba(233, 233, 233, 1);
    background-color: #fff;
    padding-bottom: 10px;

    h6 {
      color: #000;
      font-weight: bold;
    }

    p {
      margin: 0;
    }

    .amount {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      span {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
.job-title {
  color: var(--primary, #181f29);
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
#notify {
  margin-left: 10px;
  margin-top: 2px;
  margin-right: 8px;
}
.wallet {
  display: flex;
  border: 1px solid rgb(215, 215, 215);
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  width: 82px;
  height: 30px;
  flex-shrink: 0;
}
.charge {
  color: green;
  font-size: 14px;
  margin-right: 10px;
}
.ac-amount {
  color: #000;
  margin-left: 180px;
}
ion-item-divider {
  color: #e9e9e9;
  margin-bottom: 13px;
}
ion-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 2px;
  display: flex;
  justify-content: center;
}
.Ac-install {
  color: #1a1d1f;
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}
.ac-size {
  color: var(--neutral-04, #6f767e);
  font-size: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.ac-time {
  margin-left: 8px;
  color: var(--neutral-04, #6f767e);
  font-size: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}
.back-icon {
  width: 37px;
  height: 24px;
  flex-shrink: 0;
  color: #181f29;
  margin-top: 4px;
  margin-right: -5px;
  margin-left: -5px;
}
.wallet-icon {
  padding-top: 2px;
  color: #181f29;
  margin-left: 0px;
  margin-top: -4px;
  width: 20px;
  height: 20px;
}
.wallet-amount {
  color: #181f29;
  font-size: small;
  font-family: Lato;
  font-weight: 600;
  margin-top: 0px;
  margin-left: 2px;
}
.date {
  color: var(--primary, #181f29);
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
}
.booking-id {
  color: var(--primary-text-color, #444);
  font-size: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
}
.address{
  margin-top: -5px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
  display: flex;
  justify-content: center;
}
