<div class="mainContainer">
  <div class="header">
    <div class="icon">
      <ion-icon name="arrow-back-outline" style="font-size: 25px;"></ion-icon>
    </div>

    <div class="notification">
      <div class="wallet">
        <ion-icon name="wallet-outline" style="padding-top: 2px;"></ion-icon>&nbsp;
        <span>₹1,560</span>
      </div>
      <span id="notify"><img src="assets/images/notification.png" alt=""></span>
    </div>
  </div>

  <div class="current">
    <div>
      <h6>15 March, 2022</h6>
    </div>
    <div>
      <h6>Booking ID - #JC4520</h6>
    </div>
  </div>

  <div class="user" style="padding: 0px 10px;">
    <ion-card-subtitle style="display: flex; justify-content: space-between;">
      <h6>Job Details</h6>
      <h6 class="notStarted">Not Started</h6>
    </ion-card-subtitle>

    <div class="details">
      <div class="row-1">
        <span class="head">Manish Patel</span>
        <span class="head">Job Duration</span>
      </div>
      <div class="row-2">
        <span class="body"><ion-icon name="call-outline"></ion-icon>989532456</span>
        <span class="body"><ion-icon name="time-outline"></ion-icon>2 hr 20 min</span>
      </div>
      <div class="row-3">
        <span class="head">Service Time</span>
        <span class="head">Distance</span>
      </div>
      <div class="row-4">
        <span class="body"><ion-icon name="time-outline"></ion-icon>3:00PM</span>
        <span class="body"><ion-icon name="location-outline"></ion-icon>1.2km</span>
      </div>
      <div class="row-5">
        <span class="head">Address</span>
        <span><ion-icon name="map-outline" style="margin-right: 30px; font-size: 20px;"></ion-icon></span>
      </div>
      <div class="row-6">
        <span class="body" style="width: 250px;"><ion-icon name="location-outline"></ion-icon>4140 Parker Rd. Allentown, New Mexico
          31134</span>
        <span class="head" style="text-decoration: underline;">See on map</span>
      </div>
      <div class="row-7">
        <span class="head">Job Started</span>
        <span class="head">Job Ended</span>
      </div>
      <div class="row-8">
        <span class="body"><ion-icon name="time-outline"></ion-icon>3:00PM</span>
        <span class="body"><ion-icon name="time-outline"></ion-icon>4:30PM</span>
      </div>
    </div>

    <div class="installation">
      <div style="display: flex;">
        <img src="assets/images/ac.png" style="height: 50px;">
        <div class="bio">
          <h2>AC Installation</h2>
          <h6>1 Ton -1.5 Ton x2 - 2 hr 20 min</h6>
        </div>
      </div>
      <div class="amount">
        ₹1500
      </div>
    </div>

    <div class="total">
      <span>Total</span>
      <span>₹1500</span>
    </div>
  </div>

  <ion-button color="light" style="margin-left: 10px;">₹ View Earning &nbsp;&nbsp;<ion-icon
      name="chevron-down-outline"></ion-icon></ion-button> <br>
  <ion-button color="light" style="width: -moz-available; margin: 0 10px; margin-top: 30px; height: 50px;"
    (click)="route()">Back to Home</ion-button>
</div>