<!-- Toolbar  -->
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <!-- Back Button with Text -->

    <ion-icon
      name="arrow-back-outline"
      class="back-icon"
      (click)="back()"
    ></ion-icon
    ><span class="job-title">Job History</span>
    <!-- Wallet and Notification -->
    <div class="notification">
      <div class="wallet">
        <ion-icon
          name="wallet-outline"
          style="
            padding-top: 2px;
            color: #181f29;
            margin-left: 5px;
            margin-top: -1px;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          "
        ></ion-icon
        >&nbsp;
        <span
          style="
            color: #181f29;
            font-size: small;
            font-family: Lato;
            font-weight: 600;
            margin-top: 0px;
            margin-left: 2px;
          "
          >₹1,560</span
        >
      </div>
      <span id="notify"
        ><img src="assets/images/notification.png" alt=""
      /></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Job Details components -->
  <div class="booking">
    <div
      style="
        padding: 0px 10px !important;
        background-color: #fff;
        cursor: pointer;
      "
      *ngFor="let info of data"
      (click)="route()"
    >
      <ion-card-subtitle style="display: flex; justify-content: space-between">
        <h6
          style="
            font-family: Lato;
            font-weight: 590;
            color: var(--primary-text-color, #444);
            font-style: normal;
            line-height: normal;
            font-size: 12px;
            margin-top: 5px;
          "
        >
          Booking ID - {{info.id}}
        </h6>
        <h6 style="color: green; margin-top: 2px">{{info.amount}}</h6>
      </ion-card-subtitle>
      <ion-card-content style="padding: 0">
        <div class="row-1">
          <span class="head" style="margin-bottom: 5px; margin-top: -3px"
            >{{info.name}}</span
          >
          <span class="head" style="margin-bottom: 5px">Job Duration</span>
        </div>
        <div class="row-2">
          <span class="body"
            ><ion-icon
              name="location-outline"
              style="
                margin-right: 3px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -7px;
              "
            ></ion-icon
            >{{info.address}}</span
          >
          <span class="body"
            ><ion-icon
              name="time-outline"
              style="
                margin-right: 3px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -5px;
              "
            ></ion-icon
            >{{info.time}}</span
          >
        </div>
        <div class="row-3">
          <span class="head" style="margin-bottom: 5px">Service Time</span>
          <span class="head" style="margin-bottom: 5px; margin-right: 120px"
            >Distance</span
          >
        </div>
        <div class="row-4">
          <span class="body"
            ><ion-icon
              name="time-outline"
              style="
                margin-right: 3px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -3px;
              "
            ></ion-icon
            >{{info.time}}</span
          >
          <span class="body" style="margin-right: 120px"
            ><ion-icon
              name="location-outline"
              style="
                margin-right: 2px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -7px;
              "
            ></ion-icon
            >{{info.distance}}</span
          >
        </div>
        <h2
          style="
            color: var(--primary, #1a1d1f);
            font-size: 14px;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 3px;
          "
        >
          View Details
        </h2>
      </ion-card-content>
    </div>
  </div>
</ion-content>
